body {
  margin: 5px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* div,
.loremOne {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
} */

/* 
flex-direction:
    column
    column-reverse
    row
    row-reverse
*/
